################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MandyFarrugiaEPSolution/.vs/MandyFarrugiaEPSolution/FileContentIndex/86771493-d291-4913-a55c-4be6509411c6.vsidx
/MandyFarrugiaEPSolution/.vs/MandyFarrugiaEPSolution/FileContentIndex/966c6a7d-2f05-4309-b70b-5aed8e98c75b.vsidx
/MandyFarrugiaEPSolution/.vs/MandyFarrugiaEPSolution/FileContentIndex/a1f7bc60-a2f9-443d-b198-676b045ca65b.vsidx
/MandyFarrugiaEPSolution/.vs/MandyFarrugiaEPSolution/FileContentIndex/a7181426-f4b8-4200-945f-2399920f62e9.vsidx
